{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <section id="register">

        <h2>Register</h2>

        <div class="register-wrapper">

            {{ form_start(registrationForm) }}

            <div class="goRow">
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
            </div>

            <div class="goRow">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.roles, {
                    label: 'Vous êtes :'
                }) }}
            </div>

            {{ form_row(registrationForm.description, {
                label: 'Petite description (facultatif)'
            }) }}

            <button type="submit">Register</button>
            {{ form_end(registrationForm) }}

        </div>

        <div class="no-account">

            <p>Vous avez pas de compte ?</p>

            <a href="{{ path("app_login") }}">Se connecter</a>

        </div>

    </section>

{% endblock %}
