{% extends 'base.html.twig' %}

{% block title %}Hello HuntController!{% endblock %}

{% block body %}
    <div class="close-hunt-wrapper">
        <h1>Cloturer la chasse : {{ hunt.name }}</h1>

        <form action="{{ path('app_hunt_close_hunt_proceed') }}" method="post">
            <input type="hidden" id="huntId" name="huntId" value="{{ hunt.id }}"></input>
            <select name="hunters" id="hunters">
                <option value="-1">Aucun</option>
                {% for hunter in hunters %}
                    <option value="{{ hunter.id }}">{{ hunter.username }}</option>
                {% endfor %}
            </select>
            <h5>va récupérer la somme de {{ hunt.bounty }} $.</h5>
            <button type="submit">Valider</button>
        </form>

        <p>( Si personne n'a accompli la chasse, sélectionnez "aucun" )</p>
    </div>
{% endblock %}